{{ define "main" }}
<div id="dual-col">
    <div id="col-1" role="complementary">
        <div id="col-1-container">
            <aside>{{ partial "i.html" . }}</aside>
        </div>
    </div>
    <div id="col-2">
        <div id="col-2-container">
            {{ if .Title }}
            <article>
            {{ else }}
            <article id="microblog">
            {{ end }}
                <header>
                    {{ if .Title }}
                        {{- partial "backlink.html" . -}}

                        <h2 class="title">{{ .Title }}</h2>
                        <p class="subtitle"><time pubdate itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat) }}</time></p>
                    {{ else }}
                        {{ $truncatedContent := .Content | plainify | truncate 48 }}
                        {{ $date := .Date.Format "Jan 2, 15:04" }}
                        {{ $lastmod := .Lastmod.Format "Jan 2, 15:04" }}
                        {{- partial "backlink.html" . -}}
                        <h2 class="title timestamp">
                            <time pubdate itemprop="datePublished" datetime="{{- .Date.Format "2006-01-02 15:04:05 -0700" -}}">{{- $date -}}</time>
                            {{- if in .Params.categories "show_updated" -}}
                            <span class="updated">(Updated: <time pubdate itemprop="datePublished" datetime="{{- .Date.Format "2006-01-02 15:04:05 -0700" -}}">{{ $lastmod -}})</time></span>
                            {{- end -}}
                        </h2>
                    {{ end }}
                </header>
                <div tabindex="0">
                    {{ .Content }}
                </div>
            </article>

            {{ if not .Title }}
                {{ if .Site.Params.include_conversation }}
                    {{ $opts := dict "targetPath" "js/conversation.js" }}
                    {{ $opts = merge $opts (dict "minify" "true") }}
                    {{ with resources.Get "ts/conversation/conversation.ts" | js.Build $opts | fingerprint }}
                        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}