:root {
    --font-size: 14px;
    --sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --line-height: 1.4;

    --body-padding: 26px;

    --fg: #000;
    --bg: #fff;
    --hr: rgb(229, 231, 235);
    --link-gray: #7e7e7e;
    --link-color: rgb(59, 130, 246);
    --highlight: rgb(239, 246, 255);
    --text-alt: rgb(107 114 128);
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    color: var(--fg);
    background-color: var(--bg);

    font-size: var(--font-size);
    font-family: var(--sans-serif);
    line-height: var(--line-height);

    max-width: 1050px;
    text-wrap: pretty;

    margin-inline: auto;
    padding-block: calc(var(--body-padding) * 2);
    padding-inline: var(--body-padding);
}

#single-col {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 3em;
}

#col {
    grid-column: 1;
    width: 100%;
    max-width: 42em;
    margin: auto;
    overflow-x: hidden;
}

#dual-col {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

#col-1 {
    grid-column: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#col-2 {
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-inline-start: 1em;
}

#col-1::-webkit-scrollbar, #col-2::-webkit-scrollbar {
    display: none;
}

#col-1-container, #col-2-container {
    margin-block-end: calc(var(--body-padding) * 3);
}

@media (max-width: 800px) {
    :root {
        --body-padding: 16px;
    }

    html, body {
        overflow: auto;
        height: auto;
    }
    body {
        padding-block-start: var(--body-padding);
    }

    #dual-col {
        grid-template-columns: 1fr;
    }
    #col-1 {
        display: none;
    }
    #col-2 {
        grid-column: 1;
        overflow-y: visible;
        height: auto;
    }
    #col-1-container, #col-2-container {
        margin-block-end: 0;
    }
}

.serif {
    font-family: var(--serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
}

h2 {
    margin-block: .67em;
}

.backlink {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    margin-block-start: .67em;
}

.backlink-button {
    text-decoration: none;
    padding-block: .25em;
    padding-inline: .5em;
    background-color: rgb(243 244 246);
    border-radius: .75em;

    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.backlink-button, .backlink-button:visited {
    color: rgb(55 65 81);
}

.backlink-button:active, .backlink-button:hover {
    opacity: 0.9;
    transform: scale(103%);
}

.backlink-button svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    transform: translateY(-1px);
}

.backlink-seperator {
    color: rgb(156 163 175);
    width: 12px;
    height: 12px;
    display: block;
    transform: translateY(-1px);
}

.backlink-current {
    padding-block: .25em;
    padding-inline: .5em;
    color: rgb(107 114 128);
    border: 1px solid #e5e7eb;
    border-radius: .75em;
}

#to-microblog {
    margin-inline-start: auto;

    text-decoration: none;
    padding-block: .25em;
    padding-inline: .5em;
    background-color: var(--highlight);
    border-radius: .5em;

    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

@media (max-width: 430px) {
    #to-microblog {
        margin-inline-start: 0;
    }
}

#to-microblog, #to-microblog:visited {
    color: var(--link-color);
}

#to-microblog:active, #to-microblog:hover {
    opacity: 0.9;
    transform: scale(103%);
}

#to-microblog svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    transform: translateY(-1px);
}

header a, header a:visited,
.subtitle a, .subtitle a:visited
{ color: var(--fg); }

.enter {
    margin-inline-start: -0.3em;
    padding: 2px 3px 2px 3px;
    color: var(--text-alt);

    border-radius: 50%;
    transition-property: background, color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

.enter:active, .enter:hover {
    background-color: var(--highlight);
    color: var(--link-color);
}

.enter svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    transform: translateY(-1px);
}

.timestamp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
    color: var(--text-alt);

    display: flex;
    align-items: center;
    gap: .5rem;
}

h2.title {
    margin-block-start: .67em;
    margin-block-end: 0.335em;
}
p.subtitle {
    margin-block-start: 0.5em;
    margin-block-end: 1.75em;
}

hr {
    border: 0.5px solid var(--hr);
    margin-block: 20px;
}

.list-title {
    margin-block-end: 0.5em;
}

.list-title + ul {
    margin-block-start: 0.5em;
}

#post-list {
    list-style: none;
    padding: 0;
}

article header {
    margin-block-start: 0em;
    margin-block-end: 1em;
}

#microblog > header > h2 {
    margin-block-start: 1.75em;
    margin-block-end: 1em;
    font-size: 13px;
    font-weight: normal;
}

#microblog > header > p {
    margin-block-start: 0.25em;
}

.updated {
    font-weight: 300;
}

img {
    width: 39vw;
    max-width: 390px;
    border-radius: 0.75em;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

a, a:visited {
    color: var(--link-gray);
}

#i a,
#i a:visited,
.link-color
{
    color: var(--link-color);
}

::selection {
    background: var(--highlight);
}

.footnotes hr {
    display: none;
}

.footnote-backref {
    text-decoration: none;
    font-size: 0.5em;
}

blockquote.quoteback {
    display:none
}

.quoteback-container {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

.quoteback-content {
    font-size: 88.4%;;
    padding: 7px;
}

.quoteback-metadata {
    padding: 7px;
}

.quoteback-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    border-top: 1px solid #c8ccd1;
}

.quoteback-metadata {
    min-width: 0;
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.quoteback-author, .quoteback-title {
    display: inline-block;
}

.microblog-conversation > hr {
    margin-block-start: 40px;
}

.conversation-reply {
    margin-block-start: 2em;
}

.conversation-reply:first-of-type {
    margin-block-start: 0;
}

.conversation-reply:not(:last-of-type) {
    margin-block-end: 2em;
}


.reply-author > span {
    font-style: italic;
}

.reply-content {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
}

.reply-content > p:first-of-type {
    margin-block-start: 0.5em;
}