:root {
    --font-size: 14px;
    --sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --line-height: 1.4;

    --body-margin: 26px;
    --body-padding: 26px;

    --fg: #000;
    --bg: #fff;
    --hr: rgb(229, 231, 235);
    --link-gray: #7e7e7e;
    --link-color: rgb(59, 130, 246);
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    color: var(--fg);
    background-color: var(--bg);

    font-size: var(--font-size);
    font-family: var(--sans-serif);
    line-height: var(--line-height);

    max-width: 1050px;
    text-wrap: pretty;

    margin-block-start: calc(var(--body-margin) / 2);
    margin-block-end: var(--body-margin);
    margin-inline: auto;
    padding-block-start: var(--body-padding);
    padding-inline: var(--body-padding);
}

#single-col {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 3em;
}

#col {
    grid-column: 1;
    width: 100%;
    max-width: 42em;
    margin: auto;
    overflow-x: hidden;
}

#dual-col {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 3em;
}

#col-1 {
    grid-column: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#col-2 {
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#col-1::-webkit-scrollbar, #col-2::-webkit-scrollbar {
    display: none;
}

#col-1-container, #col-2-container {
    margin-block-end: calc(var(--body-margin) * 3);
}

@media (max-width: 800px) {
    html, body {
        overflow: auto;
        height: auto;
    }

    #dual-col {
        grid-template-columns: 1fr;
    }
    #col-1 {
        display: none;
    }
    #col-2 {
        grid-column: 1;
        overflow-y: visible;
        height: auto;
    }
}

@media (max-width: 800px), (max-height: 800px) {
    body {
        padding-block-start: calc(var(--body-padding) / 2);
    }
}

.serif {
    font-family: var(--serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    margin-block-start: 1.13em;
}

h2 {
    margin-block: .67em;
}

.backlink, .backlink:visited,
header a, header a:visited,
.subtitle a, .subtitle a:visited
{ color: var(--fg); }

.backlink svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.enter {
    padding: 0.25em 0.5em 0.25em 0;
}

.enter svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    transform: translateY(-1px);
}

h2.title {
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}
p.subtitle {
    margin-block-start: 0.5em;
    margin-block-end: 1.75em;
}

hr {
    border: 0.5px solid var(--hr);
    margin-block: 20px;
}

.list-title {
    margin-block-end: 0.5em;
}

.list-title + ul {
    margin-block-start: 0.5em;
}

#post-list {
    list-style: none;
    padding: 0;
}

article header {
    margin-block-start: 0em;
    margin-block-end: 1.25em;
}

#microblog > header > h2 {
    margin-block-start: 0.75em;
    margin-block-end: 0.25em;
    line-height: var(--line-height);
    font-family: var(--sans-serif);
    font-size: 1em;
    font-weight: normal;
}

#microblog > header > p {
    margin-block-start: 0.25em;
}

.updated {
    opacity: .6;
    font-weight: 300;
    font-size: .92em;
}

img {
    width: 39vw;
    max-width: 390px;
}

a, a:visited {
    color: var(--link-gray);
}

#i a,
#i a:visited,
.link-color
{
    color: var(--link-color);
}

.footnotes hr {
    display: none;
}

.footnote-backref {
    text-decoration: none;
    font-size: 0.5em;
}

blockquote.quoteback {
    display:none
}

.quoteback-container {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

.quoteback-content {
    font-size: 88.4%;;
    padding: 7px;
}

.quoteback-metadata {
    padding: 7px;
}

.quoteback-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    border-top: 1px solid #c8ccd1;
}

.quoteback-metadata {
    min-width: 0;
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.quoteback-author, .quoteback-title {
    display: inline-block;
}

.microblog-conversation > hr {
    margin-block-start: 40px;
}

.conversation-reply {
    margin-block-start: 2em;
}

.conversation-reply:first-of-type {
    margin-block-start: 0;
}

.conversation-reply:not(:last-of-type) {
    margin-block-end: 2em;
}


.reply-author > span {
    font-style: italic;
}

.reply-content {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
}

.reply-content > p:first-of-type {
    margin-block-start: 0.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: rgba(255, 255, 255, 1.0);
        --bg: rgba(0, 0, 0, 1.0);
        --hr: rgba(255, 255, 255, 0.1);
    }
}