<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if eq .Type "post" }}
    <meta name="permalink" content="{{ .Permalink }}">

    {{ if .Title }}
        <title>{{ .Title }}</title>
        <meta property="og:title" content="{{ .Title }}">
    {{ else }}
        <title>Microblog on {{ .Date.Format "January 2, 2006 at 15:04" }}</title>
        <meta property="og:title" content="Microblog on {{ .Date.Format "January 2, 2006 at 15:04" }}">
    {{ end }}

    <meta property="og:type" content="article">

    {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
    {{ with .PublishDate }}
        <meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
    {{ end }}
    {{ with .Lastmod }}
        <meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
    {{ end }}
{{ else if eq .Title "Microblog" }}
    <title>My microblog</title>
    <meta property="og:title" content="My microblog">
{{ else if eq .Title "Blog" }}
    <title>My blog</title>
    <meta property="og:title" content="My blog">
{{ else if .IsHome }}
    <title>Jade van Dorsten</title>
    <meta property="og:title" content="Jade van Dorsten">
    <meta property="og:type" content="profile">
{{ else }}
    <title>{{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
{{ end }}

<meta name="author" content="Jade van Dorsten">

<link rel="webmention" href="https://micro.blog/webmention">
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth">
<link rel="token_endpoint" href="https://micro.blog/indieauth/token">
<link rel="subscribe" href="https://micro.blog/users/follow">
<link rel="micropub" href="https://micro.blog/micropub">
<link rel="microsub" href="https://micro.blog/microsub">
<link rel="me" href="https://micro.blog/van_dorsten">
<link rel="me" href="https://van-dorsten.net/activitypub/j">

{{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
{{ else if .IsHome }}
    <meta name="description" content="Personal website of Jade van Dorsten. long story short, I'm a human and a netizen.">
    <meta property="og:description" content="Personal website of Jade van Dorsten. long story short, I'm a human and a netizen.">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:url" content="{{ .Permalink }}">


<link rel="preconnect" href="https://van-dorsten.net/">


{{ $ncss := resources.Get "css/normalise.css" | minify }}
{{ $mcss := resources.Get "css/main.css" | minify }}
{{ $secureNCSS := $ncss | resources.Fingerprint "sha512" }}
{{ $secureMCSS := $mcss | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $secureNCSS.Permalink }}" integrity="{{ $secureNCSS.Data.Integrity }}">
<link rel="stylesheet" href="{{ $secureMCSS.Permalink }}" integrity="{{ $secureMCSS.Data.Integrity }}">

<link rel='icon' href='{{ "favicon.png" | relURL }}' type='image/png'>

<link rel="alternate" title="van-dorsten.net/microblog" type="application/feed+json" href="https://van-dorsten.net/microblog/feed.json">
<link rel="alternate" title="van-dorsten.net/blog" type="application/feed+json" href="https://van-dorsten.net/blog/feed.json">

<meta http-equiv="Content-Security-Policy" content="
    default-src 'none';
    connect-src 'self' https://micro.blog;
    img-src 'self' https://micro.blog;
    script-src 'self' https://static.cloudflareinsights.com;
    script-src-elem 'self' https://static.cloudflareinsights.com;
    style-src 'self';
    font-src 'self';
    form-action 'none';
    block-all-mixed-content;
    base-uri 'none'
">