<div>
    <h1>Jade van Dorsten</h1>
    <p><em>long story short</em>, I'm a human and a netizen.</p>

    <p class="list-title">A few things about me:</p>
    <ul> 
        <li>20, he/him
        <li>Web developer, mainly front-end
        <li>Digital privacy & security enthusiast
        <li>Student @ MATC
        <li>Based in Madison, WI
    </ul>

    <p class="list-title">Where I publish:</p>
    <ul>
        <li><a href="/microblog/">My microblog</a>
        <li><a href="/blog/">My blog</a>
    </ul>

    <p class="list-title">Contact me:</p>
    <ul>
        <li><a href="https://signal.me/#eu/Ny71Ts3RZ685pJjTlOfJbxO9IZKNSqaGYAkdRLjTEsvKlSA3fv9MOr8LHLQOurlR">jade.07</a>
        <li><a href="mailto:jade@van-dorsten.net">jade@van-dorsten.net</a>
        <li><a href="https://matrix.to/#/@typejade:matrix.org">@typejade:matrix.org</a>
    </ul>

    <p class="list-title">Web presence:</p>
    <ul>
        <li><a href="https://github.com/typejade">https://github.com/typejade</a>
        <li><a href="https://micro.blog/typejade">https://micro.blog/typejade</a>
    </ul>
</div>