<li class="microblog-item">
    <article tabindex="0" class="h-entry">
        <header>
            {{ $date := .post.Date.Format "January 2, 15:04" }}
            {{ $lastmod := .post.Lastmod.Format "January 2, 15:04" }}
            <div>
                <a href="{{ .post.Permalink }}" class="u-url"><time pubdate itemprop="datePublished" datetime="{{- .post.Date.Format "2006-01-02 15:04:05 -0700" -}}">{{- $date -}}</time></a>
                {{- if in .post.Params.categories "show_updated" -}}
                    &nbsp;
                    <span class="updated">(Updated: {{ $lastmod -}})</span>
                {{- end -}}
            </div>
        </header>
        <div class="e-content">
            {{- .post.Content -}}
        </div>
    </article>
    <hr>
</li>
