{{ define "main" }}

<div id="dual-col">
    <div id="col-1" role="complementary">
        <div id="col-1-container">
            <aside>{{ partial "i.html" . }}</aside>
        </div>
    </div>
    <div id="col-2">
        <div id="col-2-container">
            <a class="backlink" href="/">{{- partial "backlink.html" . -}}</a>

            <h2 class="title">{{ .Title }}</h2>
            <p class="subtitle">Welcome to my microblog where I post tweet-like content that I feel comfortable sharing publicly. My microblog is also accessible via a <a href="/microblog/feed.json">JSON feed</a> and through <a href="https://micro.blog/typejade?remote_follow=1">ActivityPub</a>.</p>
            <ul id="post-list" class="h-feed">
                {{ $allPosts := where .Site.Pages "Type" "post" }}

                {{ $sortedPosts := sort $allPosts ".Params.date" "desc" }}

                {{ $list := slice }}

                {{ range $sortedPosts }}
                {{ $lastMod := .Lastmod.Unix }}
                {{ $date := .Date.Unix }}
                {{ $showUpdate := in .Params.categories "show_updated" }}

                {{ if and $showUpdate (gt $lastMod $date) }}
                    {{ $list = $list | append (dict "post" . "date" $lastMod) }}
                {{ else }}
                    {{ $list = $list | append (dict "post" . "date" $date) }}
                {{ end }}
                {{ end }}

                {{ $list = sort $list "date" "desc" }}
                {{ range $list }}
                    {{ if not .Title }}
                        {{ partial "microblog-item.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}